RewriteEngine On
RewriteBase /kitudesacco/

# Exclude certain file types from rewriting
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|gif)$

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Rewrite URLs for all sub-categories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^job-listing/([^/]+)$ job-listing.php?job=$1 [L]
RewriteRule ^job-details/([^/]+)$ job-details.php?job=$1 [L]
#RewriteRule ^candidate-details/([^/]+)/?$ candidate-details.php?i=$1 [L]

RewriteRule ^tours/([^/]+)/([^/]+)/?$ tours.php?fullname=$1&userid=$2 [L]
RewriteRule ^destinations/([^/]+)/([^/]+)/?$ destinations.php?fullname=$1&userid=$2 [L]
RewriteRule ^experiences/([^/]+)/([^/]+)/?$ experiences.php?fullname=$1&userid=$2 [L]
RewriteRule ^short-trips/([^/]+)/([^/]+)/?$ short-trips.php?fullname=$1&userid=$2 [L]

RewriteRule ^udetails/([^/]+)/([^/]+)/?$ udetails.php?userid=$1&fullname=$2 [L]
RewriteRule ^accountd/([^/]+)/([^/]+)/?$ accountd.php?userid=$1&fullname=$2 [L]
RewriteRule ^take-photo/([^/]+)/([^/]+)/?$ take-photo.php?userid=$1&fullname=$2 [L]
RewriteRule ^print-account-opening/([^/]+)/([^/]+)/?$ print-account-opening.php?userid=$1&fullname=$2 [L]

RewriteRule ^talent/([^/]+)/?$ talent.php?i=$1 [L]
RewriteRule ^project/([^/]+)/?$ project.php?i=$1 [L]
RewriteRule ^reset-password/([^/]+)/?$ reset-password.php?i=$1 [L]

# Rewrite jobs pagination URLs
RewriteRule ^jobs/(\d+)$ jobs?page=$1 [L]

# Custom error pages
ErrorDocument 404 /kitudesacco/error-404.php
ErrorDocument 500 /kitudesacco/error-500.php
